<div class="container">
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h4>DASHBOARD</h4>
      <div class="row">
        <div class="row my-4">
          <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <div class="card">
                  <h5 class="card-header">Clients</h5>
                  <div class="card-body">
                    <h5 class="card-title">{{client_count}}</h5>
                    <p class="card-text"> </p>
                    <p class="card-text text-success">2022 year to date</p>
                  </div>
                </div>
          </div>
          <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
              <div class="card">
                  <h5 class="card-header">Podcast Guests</h5>
                  <div class="card-body">
                    <h5 class="card-title">{{guest_count}}</h5>
                    <p class="card-text"></p>
                    <p class="card-text text-success">2022 Year to date</p>
                  </div>
                </div>
          </div>
          <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
              <div class="card">
                  <h5 class="card-header">Placements</h5>
                  <div class="card-body">
                    <h5 class="card-title">2</h5>
                    <p class="card-text"></p>
                    <p class="card-text text-success">Estimated monthly revenue: </p>
                  </div>
                </div>
          </div>
          <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
              <div class="card">
                  <h5 class="card-header">Advisory Clients</h5>
                  <div class="card-body">
                    <h5 class="card-title">1</h5>
                    <p class="card-text"></p>
                    <p class="card-text text-success">Year to date</p>
                  </div>
                </div>
          </div>
        </div>    
        </div>
    </div>
    </div>
  
    <div class="row">
      <div class="col-12 col-xl-8 mb-4 mb-lg-0">
          <div class="card">
              <h5 class="card-header">Podcast History</h5>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">Episode</th>
                              <th scope="col">Air Date</th>
                              <th scope="col">Guest</th>
                              <th scope="col">Topic</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td><a href="#" class="btn btn-sm btn-primary">Listen</a></td>
                            </tr>
                            <tr>
                              <th scope="row">2</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td><a href="#" class="btn btn-sm btn-primary">Listen</a></td>
                            </tr>
                            <tr>
                              <th scope="row">3</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td><a href="#" class="btn btn-sm btn-primary">Listen</a></td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                    <a href="#" class="btn btn-block btn-light">View all</a>
              </div>
          </div>
      </div>
      <div class="col-12 col-xl-4">
          <!-- Another widget will go here -->
      </div>
    </div>
      
  
   