{% extends 'base.html' %}  

{% block content %}

{% if user.is_authenticated %} 
<div class="container">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h4>DASHBOARD</h4>
    <div class="row">
      <div class="dashboard-box col-md-3">
        <h1 class="text-center">{{ client_count}}</h1><br/>
        <h5><strong>Clients</strong></h5>
      </div>
      <div class="dashboard-box col-md-3">
        <h1 class="text-center">{{guest_count}}</h1><br/>
        <h5><strong>Podcast Guests</strong></h5>
      </div>
      <div class="dashboard-box col-md-3">
        Other
      </div>    
      </div>
  </div>
  </div>

  <div class="jumbotron jumbtron-fluid">
  <br/>
  <h4>Podcast show log:</h4>
  <table class="table table-light table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Episode #</th>
        <th scope="col">Air Date</th>
        <th scope="col">Guest</th>
        <th scope="col">Topic</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td> </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>

 
{% else %}
<div class="card text-center">
    <div class="card-header">
      Welcome
    </div>
    <div class="card-body">
      <h5 class="card-title">CHRO Solutions Client Management System</h5>
      <p class="card-text">This is a private system and requires that you login.</p>
      <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    </div>
    <div class="card-footer text-muted">
      <small>(c) 2022 The Torigian Group, llc</small>
    </div>
  </div>
{% endif %} 

  {% endblock %}