{% extends 'base.html' %} 

{% block content %} 
<h2 class="text-center">Edit Profile</h2>
<br/>

<div class="col-md-6 offset-md-3">
    <form method="POST" action"{% url 'change-password' %}>
        {% csrf_token %} 

        {% if form.errors %} 
            <p>Your form contains errors...</p>
            {% for field in form %} 
                {% if field.errors %} 
                    {{field.errors}}
                {% endif %}
            {% endfor %} 
        {% endif %} 

        {{ form.as_p }}

    <input type="submit" value="Change Password" class="btn btn-secondary">

    </form>
</div>

{% endblock %} 

